{% extends 'app_base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}


{% block body-block %}
<div class="container">
<form class="form-signin" method="POST" action="{% url 'edit' product.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label class="sr-only" for="name">Name</label>
     NAME: <input type="text" class="form-control" value="{{product.name}}" id="id_username"   name="name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="pwd">Description</label>
    DES:  <input type="text" class="form-control" id="pwd" value="{{product.description}}" name="description">
    </div>
    <div class="form-group">
        <label class="sr-only" for="pwd">Location</label>
      Loacation:  <input type="text" class="form-control" id="location" value="{{product.location}}" name="description">
      </div>

    <div class="form-group">
        <label class="sr-only" for="qty">Quantity</label>
      QTY  <input type="text" class="form-control" id="qty" value="{{product.quantity}}" name="quantity">
    </div>
    <button type="submit" id="btn" class="btn btn-default">Submit</button>
    
  </form>
  </div>
{% endblock %}
